<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EB.Budget.Model.Properties.Settings.EBBudgetConnectionString"
            connectionString="Data Source=WOODS\SQLEXPRESS;Initial Catalog=EBBudget;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>